.imagen-carrusel {
    height: 400px;
    object-fit: cover;
    object-position: 0 80%;
}

.fuente-titulo {
    font-family: 'Pacifico', sans-serif;
}

.texto-color-especial {
    color: #0f8d1a;
}


